<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oe.mobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.oe.mobile.MyApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.oe.mobile.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.oe.mobile.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.oe.mobile.InventoryActivity"
            android:label="@string/title_activity_inventory" >
        </activity>
        <activity
            android:name=".activity.stock.ItemListActivity"
            android:label="@string/title_activity_item_list" >
        </activity>
        <activity
            android:name="com.oe.mobile.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name=".activity.stock.ItemDetailActivity"
            android:label="@string/title_activity_item_detail" >
        </activity>
        <activity
            android:name=".activity.mrp.JobListActivity"
            android:label="@string/title_activity_inventory" >
        </activity>
        <activity
            android:name=".activity.mrp.WOListActivity"
            android:label="@string/title_activity_inventory" >
        </activity>
        <activity
            android:name=".activity.purchase.POListActivity"
            android:label="@string/title_activity_inventory" >
        </activity>
        <activity
            android:name=".activity.sales.CustomerListActivity"
            android:label="@string/title_activity_inventory" >
        </activity>
        <activity
            android:name=".activity.stock.StockInListActivity"
            android:label="@string/title_activity_inventory" >
        </activity>
        <activity
            android:name=".activity.stock.StockPickListActivity"
            android:label="@string/title_activity_inventory" >
        </activity>
        <activity
            android:name=".activity.stock.StockPickDetailActivity"
            android:label="@string/title_activity_inventory" >
        </activity>
        <activity
            android:name=".activity.stock.StockInDetailActivity"
            android:label="@string/title_activity_inventory" >
        </activity>
        <activity
            android:name=".activity.stock.StockOutListActivity"
            android:label="@string/title_activity_inventory" >
        </activity>
        <activity
            android:name=".activity.stock.StockOutDetailActivity"
            android:label="@string/title_activity_inventory" >
        </activity>
        <activity
            android:name=".activity.sales.CustomerDetailActivity"
            android:label="@string/title_activity_inventory" >
        </activity>
        <activity
            android:name=".activity.sales.SODetailActivity"
            android:label="@string/title_activity_inventory" >
        </activity>
        <activity
            android:name=".activity.sales.SOListActivity"
            android:label="@string/title_activity_inventory" >
        </activity>
        <activity
            android:name=".activity.purchase.PODetailActivity"
            android:label="@string/title_activity_inventory" >
        </activity>
        <activity
            android:name=".activity.sales.LeadListActivity"
            android:label="@string/title_activity_inventory" >
        </activity>
        <activity
            android:name=".activity.sales.OpportunityListActivity"
            android:label="@string/title_activity_inventory" >
        </activity>
        <activity
            android:name=".retired.GeneralListActivity"
            android:label="@string/title_activity_inventory" >
        </activity>
        <activity
            android:name=".retired.GeneralDetailActivity"
            android:label="@string/title_activity_inventory" >
        </activity>
        <activity
            android:name=".activity.funcPage.AChartActivity"
            android:label="@string/title_activity_achart" >
        </activity>
        <activity android:name="org.achartengine.GraphicalActivity" />
        <activity
            android:name="com.zijunlin.Zxing.Demo.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".activity.funcPage.BarcodeTestActivity"
            android:label="@string/title_activity_barcode_test" >
        </activity>
        <activity
            android:name=".activity.funcPage.BitmapActivity"
            android:label="@string/title_activity_bitmap" >
        </activity>
        <activity
            android:name=".activity.purchase.POSearchActivity"
            android:label="@string/title_activity_posearch" >
        </activity>
        <activity
            android:name=".activity.sales.SOSearchActivity"
            android:label="@string/title_activity_posearch" >
        </activity>
        <activity
            android:name=".activity.funcPage.InfoActivity"
            android:label="@string/title_activity_info" >
        </activity>
    </application>

</manifest>